<aside class="widget widget_text">
    <h3 class="widget-title"><span>About us</span></h3>
    <div class="textwidget"><p>There are hackspaces all around the world and now there's one in The Potteries.</p>
        <p>A hackspace is a place for people with common interests, often in computers, technology, science or art, can
            meet, socialise and/or collaborate.</p>
        <p>As a group of technology enthusiasts we have started meeting on a regular basis in an effort to collaborate
            on various projects.</p>
        <p><a class="btn btn-sm btn-primary" href="about">Read more</a></p>
    </div>
</aside>
