<!-- Footer -->
<div class="row footer">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                {% include feedburner.html %}
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h4>Recent Posts</h4>
                <ul>
                    {% for post in site.posts limit:8 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h4>Get Involved</h4>
                <ul>
                    {% for link in site.social %}
                    <li>
                        <a href="{{ link.url }}"><span class="text">{{ link.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                {% if site.gplus_username %}
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-page" data-width="273" data-href="//plus.google.com/u/0/{{ site.gplus_username }}"
                     data-theme="dark" data-layout="landscape" style="border:0;" data-rel="publisher"></div>
                <!-- Place this tag after the last widget tag. -->
                <script type="text/javascript">
                    (function () {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End Footer -->
