<div class="col-md-12 navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        {% assign url_parts = page.url | split: '/' %}
        {% assign url_parts_size = url_parts | size %}
        {% assign rm = url_parts | last %}
        {% assign base_url = page.url | replace: rm %}
        <ul class="nav navbar-nav">
            {% for node in site.pages %}
            {% if node.url contains base_url %}
            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% assign filename = node_url_parts | last %}
            {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
            <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right left-syms">
            <li><a href="https://facebook.com/{{site.fb_username}}" target="_blank"><i
                    class="fa fa-facebook-square"></i> <span>Facebook</span></a></li>
            <li><a href="http://github.com/{{ site.github_username}}" target="_blank"><i class="fa fa-github"></i>
                <span>Github</span></a></li>
            <li><a href="//twitter.com/{{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
            </li>
            <li><a href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i
                    class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
        </ul>
    </div>
</div>
